In [ ]:
# LIST COMPREHESSION AND Dictnory Class


[print(a , b ) for a in range(1 , 21 ) if(a>4) for b in range( 21 , 500) if( a**2 == b)]

In [ ]:

alist=[2,3,4,3,5,6,7,2,3,4]
alist2=set(alist)
lists=list(alist2)
print(lists)

In [ ]:
alist=[2,3,4,3,5,6,7,2,3,4]

In [ ]:
alist1=[2,3,4,3,5,6,7,2,3,4,999]
se =set(alist)
se1={33,66,2,3,4,5,6}

In [ ]:
 b=se.difference(se1)

In [ ]:
a =b.difference_update({23 , 34})

In [ ]:
print(a)

In [ ]:
aset ={1,2,3,4,5,6}
aset1={2,3,6,7,8,9}
set2=aset.difference(aset1)
set2

In [ ]:
 y  =aset.difference_update({2,3,4,65,5})
y

In [ ]:
lis ={2,3,4,5,9}
lis

In [ ]:
lis.add(0)
lis

In [ ]:
lis.update('23')

In [ ]:
lis

In [ ]:
dic = {"name" : "affan" , "age":24, "Qual": "BS" , "EXP" :"06 Months"}

In [ ]:
dic

In [ ]:
dic[0]="name"
print(dic[0])

In [ ]:
dic['name'] = "usama"

In [ ]:
dic['name']

In [ ]:
for val ,ite in enumerate(dic.items()):
    print(val ,ite )

In [ ]:
dic

In [ ]:
char ='pakistan'
for c , i in   enumerate(char):
    print(c , i)

In [ ]:
dic.update({'name': 'raza'})

In [ ]:
dic

In [ ]:
price_in_rs ={"coffe" : 50 , "Tea": 30}
dollar =165
price_in_Dollar ={Key :(value / dollar) for Key ,value in price_in_rs.items() if(value < 0.5 )}
price_in_Dollar

In [ ]:
price_in_Dollar

In [ ]:

dollar =165
price_in_rs ={"coffe" : 50 /dollar, "Tea": 60/dollar}
price_in_Dollar ={Key :(value) for Key ,value in price_in_rs.items() if(value <   0.5 )}
price_in_Dollar

In [ ]:
a={
    "name":{
        "lname":"affan",
        "fname":"raza"
    },
    "age":{
        "l":23,
        "F":34
    }
}


a["age"]["l"]

In [ ]:
users = {
 'aeinstein': {
 'first': 'albert',
 'last': 'einstein',
 'location': 'princeton',
 },
 'mcurie': {
 'first': 'marie',
 'last': 'curie',
 'location': 'paris',
 },
 }
for (u, user_info) in users.items():
    
        
    print("\nUsername: " + u)
    full_name = user_info['first'] + " " + user_info['last']
    location = user_info['location']
    print("\tFull name: " + full_name.title())
    print("\tLocation: " + location.title())

In [ ]:
users['aeinstein']

In [ ]:
users['aeinstein']['first']="raza"

In [ ]:
prompt = "If you tell us who you are, we can personalize the messages you see."
prompt += "\nWhat is your first name? "
name =  int(input(prompt))
print("\nHello, " + str(name) + "!")

In [7]:
current_number = [5,1,2,3]
while i > len(current_number):
    
    print(i)
#     current_number = current_number-1
#     print(current_number)

NameError: name 'i' is not defined