In [9]:
# LIST COMPREHESSION AND Dictnory Class


[print(a , b ) for a in range(1 , 21 ) if(a>4) for b in range( 21 , 500) if( a**2 == b)]

5 25
6 36
7 49
8 64
9 81
10 100
11 121
12 144
13 169
14 196
15 225
16 256
17 289
18 324
19 361
20 400

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [43]:

alist=[2,3,4,3,5,6,7,2,3,4]
alist2=set(alist)
lists=list(alist2)
print(lists)

[2, 3, 4, 5, 6, 7]

In [1]:
alist=[2,3,4,3,5,6,7,2,3,4]

In [46]:
alist1=[2,3,4,3,5,6,7,2,3,4,999]
se =set(alist)
se1={33,66,2,3,4,5,6}

In [56]:
 b=se.difference(se1)

In [57]:
a =b.difference_update({23 , 34})

In [58]:
print(a)

None

In [59]:
aset ={1,2,3,4,5,6}
aset1={2,3,6,7,8,9}
set2=aset.difference(aset1)
set2

{1, 4, 5}

In [63]:
 y  =aset.difference_update({2,3,4,65,5})
y

In [67]:
lis ={2,3,4,5,9}
lis

{2, 3, 4, 5, 9}

In [68]:
lis.add(0)
lis

{0, 2, 3, 4, 5, 9}

In [72]:
lis.update('23')

In [123]:
lis

{0, 2, '2', 3, '3', 4, 5, 9}

In [74]:
dic = {"name" : "affan" , "age":24, "Qual": "BS" , "EXP" :"06 Months"}

In [75]:
dic

{'name': 'affan', 'age': 24, 'Qual': 'BS', 'EXP': '06 Months'}

In [81]:
dic[0]="name"
print(dic[0])

name

In [84]:
dic['name'] = "usama"

In [85]:
dic['name']

'usama'

In [94]:
for val ,ite in enumerate(dic.items()):
    print(val ,ite )

0 ('name', 'usama')
1 ('age', 24)
2 ('Qual', 'BS')
3 ('EXP', '06 Months')
4 (0, 'name')

In [93]:
dic

{'name': 'usama', 'age': 24, 'Qual': 'BS', 'EXP': '06 Months', 0: 'name'}

In [97]:
char ='pakistan'
for c , i in   enumerate(char):
    print(c , i)

0 p
1 a
2 k
3 i
4 s
5 t
6 a
7 n

In [114]:
dic.update({'name': 'raza'})

In [115]:
dic

{'name': 'raza', 'Qual': 'BS'}

In [130]:
price_in_rs ={"coffe" : 50 , "Tea": 30}
dollar =165
price_in_Dollar ={Key :(value / dollar) for Key ,value in price_in_rs.items() if(value < 0.5 )}
price_in_Dollar

{}

In [126]:
price_in_Dollar

{'coffe': 0.30303030303030304, 'Tea': 0.18181818181818182}

In [18]:

dollar =165
price_in_rs ={"coffe" : 50 /dollar, "Tea": 60/dollar}
price_in_Dollar ={Key :(value) for Key ,value in price_in_rs.items() if(value <   0.5 )}
price_in_Dollar

{'coffe': 0.30303030303030304, 'Tea': 0.36363636363636365}

In [31]:
a={
    "name":{
        "lname":"affan",
        "fname":"raza"
    },
    "age":{
        "l":23,
        "F":34
    }
}


a["age"]["l"]

23

In [36]:
users = {
 'aeinstein': {
 'first': 'albert',
 'last': 'einstein',
 'location': 'princeton',
 },
 'mcurie': {
 'first': 'marie',
 'last': 'curie',
 'location': 'paris',
 },
 }
for (u, user_info) in users.items():
    
        
    print("\nUsername: " + u)
    full_name = user_info['first'] + " " + user_info['last']
    location = user_info['location']
    print("\tFull name: " + full_name.title())
    print("\tLocation: " + location.title())

Username: aeinstein
	Full name: Albert Einstein
	Location: Princeton

Username: mcurie
	Full name: Marie Curie
	Location: Paris

In [25]:
users['aeinstein']

{'first': 'raza', 'last': 'einstein', 'location': 'princeton'}

In [24]:
users['aeinstein']['first']="raza"

In [40]:
prompt = "If you tell us who you are, we can personalize the messages you see."
prompt += "\nWhat is your first name? "
name =  int(input(prompt))
print("\nHello, " + name + "!")

If you tell us who you are, we can personalize the messages you see.
What is your first name? 45

TypeError: can only concatenate str (not "int") to str